<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Page</title>
    <link rel="stylesheet" th:href="@{/css/403.css}">

</head>
<body>
<div layout:fragment="content1">
    <div class="box">
        <h1 class="large-number">
            4<span class="center-number">0</span>3
        </h1>
        <span><b>Ooopps</b></span>
        <p><b>Vous n'êtes pas autorisé à accéder à cette ressource</b></p>
        <a  th:href="@{/user/index}" class="btn-home">Homepage</a>
    </div>
</div>
</body>
</html>